<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#044aab"/>
    <title>Revision Access Point</title>
    <link rel="icon" type="image/x-icon" href="/resources/logo.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Ad sense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4066811607299460"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  </head>
  <body>
    <div id="hide">
      <div class="container-fluid bg-dark p-2 d-flex justify-content-center align-items-center" id="univLoad" style="display: none;">
        <div class="loadDiv2"></div>
      </div>
    </div>

    <div class="container-fluid d-flex align-items-center justify-content-between" id="nav" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%);">
        <div class="mb-3 d-flex align-items-center justify-content-center" id="logo" style="margin-top: 10px;">
            <div>
                <h1 class="h1 text-light mb-0" style="font-size: 25px; font-weight: bold;">RAP</h1>
                <!-- <div class="container d-flex flex-row align-items-center justify-content-start m-0 p-0">
                    <h1 class="h1 text-light m-0" style="font-size: 25px; font-weight: bold;">Point</h1>
                    <div class="ms-1" style="background-color: white; height: 25px; width: 85px;">
                    </div>
                </div> -->
            </div>
        </div>
        <div>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" style="position: relative; display: inline-block;">
            <i class="fa fa-bars text-light" aria-hidden="true" style="font-size: 20px;"></i>
          </button>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-end align-items-center p-0" style="position: absolute; z-index: 1; right: 3px;">
      <div class="m-0 mt-1">
        <div class="container collapse navbar-collapse" id="collapsibleNavbar" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%);">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="text-light nav-link" style="font-size: 17px; text-decoration: none;"><i class="fa fa-sign-out text-light me-0" aria-hidden="true"></i> | Sign out</a>
            </li>  
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2 p-1">
      <div class="d-flex align-items-start">
        <img src="/resources/exam3.svg" alt="" width="50px" height="50px" class="me-2">
        <div>
          <h5 style="text-transform: uppercase; color: #ff3131;" class="m-0">exams</h5>
          <h5 class="two">Access exams done in previous years</h5>
        </div>
      </div>
      <div class="d-flex align-items-start mt-2">
        <img src="/resources/notes.svg" alt="" width="50px" height="50px" class="me-2">
        <div>
          <h5 style="text-transform: uppercase; color: #004aad;" class="m-0">notes</h5>
          <h5 class="two">Access notes by lecturers and recommended content</h5>
        </div>
      </div>
      <div class="d-flex align-items-start mt-2">
        <img src="/resources/tutorials2.svg" alt="" width="50px" height="50px" class="me-2">
        <div>
          <h5 style="text-transform: uppercase; color: #ff3131;" class="m-0">tutorials</h5>
          <h5 class="two">Access tutorials by lectures and students</h5>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-4">
      <form action="/home" method="post" class="d-flex flex-column">
        <div data-mdb-input-init class="form-outline mb-4 ">
          <div class=" d-flex justify-content-center rounded" style="padding: 1px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);">
            <label for="school" class="text-light me-4 ms-4 two d-flex justify-content-center align-items-center" style="width: 90px;">School</label>
            <div class="text-light bg-light m-0 rounded" style="width: 100%;">
              <select name="school" id="school" class="form-control">
                
              </select>
              <!-- <label class="form-label bg-light text-dark p-0 ps-2 pe-2 mt-2" for="school" style="font-size: 20px;">School</label> -->
            </div>
          </div>
        </div>

        <div data-mdb-input-init class="form-outline mb-4 ">
          <div class=" d-flex justify-content-center rounded" style="padding: 1px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);">
            <label for="school" class="text-light me-4 ms-4 two d-flex justify-content-center align-items-center" style="width: 90px;">Department</label>
            <div class="text-light bg-light m-0 rounded" style="width: 100%;">
              <select name="department" id="department" class="form-control">
               
              </select>
            </div>
          </div>
        </div>

        <div data-mdb-input-init class="form-outline mb-4 ">
          <div class=" d-flex justify-content-center rounded" style="padding: 1px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);">
            <label for="school" class="text-light me-4 ms-4 two d-flex justify-content-center align-items-center" style="width: 90px;">Year</label>
            <div class="text-light bg-light m-0 rounded" style="width: 100%;">
              <select name="year" id="year" class="form-control">
                <option value="Year_1.1">1.1</option>
                <option value="Year_1.2">1.2</option>
                <!-- <option value="Year_1.2">1.3</option> -->
                <option value="Year_2.1">2.1</option>
                <option value="Year_2.2">2.2</option>
                <option value="Year_2.3">2.3</option>
                <option value="Year_3.1">3.1</option>
              </select>
            </div>
          </div>
        </div>

        <!-- <div data-mdb-input-init class="form-outline mb-4 ">
          <div class=" d-flex justify-content-center rounded" style="padding: 1px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);">
            <label for="school" class="text-light me-4 ms-4 two d-flex justify-content-center align-items-center" style="width: 90px;">Year</label>
            <div class="text-light bg-light m-0 rounded" style="width: 100%;">
              <input list="years" id="year" name="year" class="p-1 rounded" style="width: 100%; outline: none; border: none;" />

              <datalist id="years">
                <option value="Year_2.1">2.1</option>
                <option value="Year_2.2">2.2</option>
                <option value="Year_2.3">2.3</option>
              </datalist>
            </div>
          </div>
        </div> -->


        <div data-mdb-input-init class="form-outline mb-2">
          <div class=" d-flex justify-content-center rounded" style="padding: 1px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);">
            <label for="school" class="text-light me-4 ms-4 two d-flex justify-content-center align-items-center" style="width: 90px;">Unit</label>
            <div class="text-light bg-light m-0 rounded" style="width: 100%;">
              <select name="unit" id="unit" class="form-control">
                
              </select>
            </div>
          </div>
        </div>

        <!-- <div data-mdb-input-init class="form-outline mb-4 ">
          <div class="d-flex justify-content-center rounded" style="padding: 1px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);">
            <div class="text-light bg-light m-0 rounded" style="width: 100%;">
              <input type="text" name="year" id="year" class="form-control" style="font-size: 20px;"/>
              <label class="form-label bg-light text-dark p-0 ps-2 pe-2 mt-2" for="year" style="font-size: 20px;">Year</label>
            </div>
          </div>
        </div> -->

        <button data-mdb-ripple-init type="submit" class="btn btn-block text-light mt-2 d-flex justify-content-center align-items-center" style="margin-bottom: 100px; font-size: 20px; background: linear-gradient(to left,#ff3131 0%, #004aad 100%);" id="searchBtn">
          <h6 class="h6 text-light" style="font-size: 20px;">
            Search
          </h6>
          <div class="loadDivHome" style="display: none;"></div>
        </button>
      </form>
    </div>

    <script type="text/javascript" src="/js/home.js"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/69a11c0c5f.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <!-- If the message is in the route query -->
        <% if (message) { %>
          <script>
              Toastify({
              text: "<%=message%>",
              duration: 3500,
              // destination: "https://github.com/apvarun/toastify-js",
              newWindow: true,
              //  close: true,
              gravity: "top", // `top` or `bottom`
              position: "right", // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
              style: {
                  background: "linear-gradient(to right, red, blue)",
              },
              // onClick: function(){} // Callback after click
              }).showToast()
          </script>
      <% } %>
    <script>
      if('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration){
              console.log('Service Worker registered');
          }).catch(function(error){
              console.log('Service Worker registration failed:', error);
          })
      }
  </script>
  </body>
</html>
