<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#044aab"/>
    <title>Revision Access Point</title>
    <link rel="icon" type="image/x-icon" href="/logo.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Ad sense -->
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4066811607299460" crossorigin="anonymous"></script> -->

    <style>
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container-fluid p-0" style="width: 80%;">
            <div class="card mt-5 text-muted">
                <div class="card-body m-0">
                    <div class=" mb-4 d-flex align-items-center justify-content-center" id="logo" style="margin-top: 10px;">
                        <h4 class="h4 text-dark mb-0" style="font-weight: bold;">Revision Access Point</h4>
                    </div>

                    <form action="/signUp" method="post" class="" id="signUpForm">
                        <div class="mb-3 p-2 rounded d-flex justify-content-start align-items-center" style="background-color: #f2f2f2;">
                            <i class="fa-solid fa-user text-muted me-2 ms-2"></i>
                            <input type="text" class="flex-fill" id="signUpName" name="signUpName" placeholder="Name" style="border: none; background-color: #f2f2f2; outline: none; font-weight: 300;" required>
                        </div>

                        <div class="mb-3 p-2 rounded d-flex justify-content-start align-items-center" style="background-color: #f2f2f2;">
                            <i class="fa-solid fa-envelope text-muted me-2 ms-2"></i>
                            <input type="text" class="flex-fill" id="signUpEmail" name="signUpEmail" placeholder="Email" style="border: none; background-color: #f2f2f2; outline: none; font-weight: 300;" required>
                        </div>
                        
                        <div class="mb-3 p-2 rounded d-flex justify-content-start align-items-center" style="background-color: #f2f2f2;">
                            <i class="fa-solid fa-lock text-muted me-2 ms-2"></i>
                            <input type="password" class="flex-fill" id="signUpPassword" name="signUpPassword" placeholder="Password" style="border: none; background-color: #f2f2f2; outline: none; font-weight: 300;" required>
                        </div>
                        
                        
                        <button type="submit" class="mb-3 btn bg-dark" style="width: 100%; ">
                            <h6 class="h6 text-light" style="font-size: 20px;">
                                Sign up
                            </h6>
                        </button>

                        <a href="/auth/google" class="mb-3 btn bg-dark text-light" style="width: 100%; font-size: 20px; font-weight: 500;" id="googleLoginBtn">
                            <i class="fa-brands fa-google me-2"></i> Continue with google
                        </a>
                        
                    </form>

                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <!-- <h6 class="h6 mb-3 text-muted mt-2">or continue with</h6>
                        <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
                            <div class="rounded pt-2 pb-2 ps-5 pe-5" style="border: 1px solid darkgray; width: 100%;">
                                <a href=""><center><img src="icons8-google.svg" alt="" width="30px" height="30px"></center></a>
                            </div>
                        </div> -->
                        <h6 class="h6 text-muted mt-3" style="font-weight: 300;">Back to <a class="text-muted" href="/"><strong style="text-decoration: underline;">Login</strong></a></h6>
                        <h6 style="font-size: 12px; color: darkgray;">icons by <a href="https://icons8.com/" style="color: darkgray;">icons8</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js').then(function(registration){
                console.log('Service Worker registered');
            }).catch(function(error){
                console.log('Service Worker registration failed:', error);
            })
        }
    </script>
    <script src="https://kit.fontawesome.com/69a11c0c5f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>