*{
    font-family: "Oswald", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
    background-image: url("../resources/book-open-svgrepo-com.png");
    background-repeat: repeat;
    background-size: 50px 50px; /* Width and height */
}

.two{
    font-weight: 200;
}

select, select option{
    font-weight: 300;
}

.loadDivHome{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 5px dotted white;
    animation: spin 8s linear infinite;
}

.loadDivQuiz{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 5px dotted white;
    animation: spin 8s linear infinite;
}

.loadDivQuizResults{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 5px dotted white;
    animation: spin 8s linear infinite;
}

.loadDiv2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 5px dotted white;
    animation: spin 8s linear infinite;
}

#notesDiv, #examsDiv, #catsDiv, #tutorialsDiv{
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 10px;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    #mainHomeContentDiv{
        width: 100% !important;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    #mainHomeContentDiv{
        width: 100% !important;
        margin-top: 5vh !important;
    }
    #notesDiv, #examsDiv, #catsDiv, #tutorialsDiv{
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        gap: 10px;
    }
    /* #navBarNav{
        background: linear-gradient(to left, #ff3131 0%, #004aad 100%) !important;
    } */
    #container{
        width: 100% !important;
        padding: 0 !important;
    }
    #container .navbar-brand{
        margin-left: 1rem;
    }
    #container .navbar-nav{
        padding-left: 1rem;
        background: linear-gradient(to left, #ff3131 0%, #004aad 100%) !important;
    }
    #container .navbar-toggler{
        margin-right: 1rem;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    #mainHomeContentDiv{
        width: 100% !important;
    }
}
